# Q1. What is a database? Differentiate between SQL and NoSQL databases.

__Ans. :__<br>

A database is a systematic collection of data. They support electronic storage and manipulation of data.<br>

SQL vs NoSQL :<br>

1. SQL is a RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS), NoSQL is a Non-relational or distributed database system.
2. SQL databases have fixed or static or predefined schema, NoSQL have dynamic schema.
3. SQL databases are not suited for hierarchical data storage, NoSQL databases are best suited for hierarchical data storage.
4. SQL is a Vertically Scalable, NoSQL is a Horizontally scalable.
5. SQL Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc.
   NoSQL Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

__Ans. :__<br>

Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. These database objects include schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions, and aliases. Creating a schema.

__CREATE, DROP, ALTER,__ and __TRUNCATE__ are all SQL (Structured Query Language) commands used to manage databases and tables.

__CREATE__ is used to create a new database or a new table within an existing database. For example, the following SQL command creates a new table called "customers" with four columns:

CREATE TABLE customers (
<br>   id INT PRIMARY KEY,
<br>   name VARCHAR(50),
<br>   email VARCHAR(50),
<br>   address VARCHAR(100)<br>
);

__DROP__ is used to delete a database or a table from a database. For example, the following SQL command drops the table "customers":

DROP TABLE customers;

__ALTER__ is used to modify the structure of an existing table, such as adding or removing columns or changing data types. For example, the following SQL command adds a new column called "phone" to the "customers" table:

ALTER TABLE customers ADD phone VARCHAR(20);

__TRUNCATE__ is used to delete all data from a table, but keep the table structure intact. For example, the following SQL command deletes all data from the "customers" table:

TRUNCATE TABLE customers;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

__Ans. :__ <br>

A __DML__ (data manipulation language) refers to a __computer programming language that allows you to add (insert), delete (delete), and alter (update) data in a database.__

The three main DML statements are __INSERT, UPDATE, and DELETE.__

1. __INSERT__: The __INSERT__ statement is used to add new rows of data into a table. The syntax for the INSERT statement is as follows:

INSERT INTO table_name (column1, column2, column3, ...)
<br>VALUES (value1, value2, value3, ...);

For example, to add a new customer record to the "customers" table, we could use the following INSERT statement:

INSERT INTO customers (id, name, email, address)
<br>VALUES (1, 'John Smith', 'john.smith@example.com', '123 Main Street');

2. __UPDATE__: The __UPDATE__ statement is used to modify existing data in a table. The syntax for the UPDATE statement is as follows:

UPDATE table_name
<br>SET column1 = value1, column2 = value2, ...
<br>WHERE condition;

For example, to update the email address for a specific customer record in the "customers" table, we could use the following UPDATE statement:

UPDATE customers
<br>SET email = 'john.smith.new@example.com'
<br>WHERE id = 1;

3. __DELETE__: The DELETE statement is used to delete rows of data from a table. The syntax for the DELETE statement is as follows:

DELETE FROM table_name
<br>WHERE condition;

For example, to delete a specific customer record from the "customers" table, we could use the following DELETE statement:

DELETE FROM customers
<br>WHERE id = 1;

# Q4. What is DQL? Explain SELECT with an example.

__Ans. :__<br>

__DQL__ stands for Data Query Language, and it is a subset of __SQL__ (Structured Query Language) used to query or retrieve data from a database. The primary __DQL__ statement is the __SELECT__ statement.

__SELECT__ is used to retrieve data from one or more tables and can be customized to return specific columns, filter results based on criteria, and even perform calculations on the data. The basic syntax for the SELECT statement is as follows:

SELECT column1, column2, ...
<br>FROM table_name
<br>WHERE condition;

Here's an example of how to use the SELECT statement to retrieve data from a table named "employees":

SELECT * FROM employees

# Q5. Explain Primary Key and Foreign Key.

__Ans. :__<br>

a __primary key__ is a column or group of columns in a table that uniquely identifies each row in that table, while a __foreign key__ is a column or group of columns in one table that refers to the __primary key__ in another table to establish a relationship between the two tables. __Primary__ and __foreign keys__ are important for maintaining the integrity of the data and for establishing relationships between tables in a database.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

__Ans. :__<br>

To connect to __MySQL__ from Python, we can use the __mysql-connector-python__ module, which provides a Python interface to __MySQL__. Here is an example code to connect to __MySQL__ from Python:

import mysql.connector

<br># Establish a connection to the database
<br>mydb = mysql.connector.connect(
<br>  host="localhost",
<br>  user="username",
<br>  password="password",
<br>  database="database_name"
<br>)

the __cursor()__ method is used to create a cursor object that interacts with the database, and the __execute()__ method is used to execute SQL queries on the database through the cursor object.

Create a cursor object to interact with the database
<br>mycursor = mydb.cursor()

Execute a query
<br>mycursor.execute("SELECT * FROM customers")

# Q7. Give the order of execution of SQL clauses in an SQL query.

__Ans. :__<br>

The order of execution of SQL clauses in an SQL query is as follows:

1. __FROM__ - specifies the tables that the query will retrieve data from
2. __JOIN__ - if there are any joins, they are performed next to combine data from multiple tables
3. __WHERE__ - filters the data based on the conditions specified in the WHERE clause
4. __GROUP BY__ - groups the data based on the columns specified in the GROUP BY clause
5. __HAVING__ - filters the grouped data based on the conditions specified in the HAVING clause
6. __SELECT__ - specifies the columns to retrieve from the data set
7. __DISTINCT__ - filters out duplicate rows from the result set
8. __ORDER BY__ - sorts the result set based on the columns specified in the ORDER BY clause
9. __LIMIT__ - limits the number of rows in the result set to a specified number